.calendar-wrapper {
  border: 0.5px solid;
  max-width: 500px;
  .title-bar {
    padding: 5px 0px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    .day-label {
      width: calc(100% / 7);
      display: flex;
      justify-content: center;
    }
  }
  .calendar-body {
    display: flex;
    flex-wrap: wrap;
  }
}