.calendar-layout{
  display: flex;
  width: 100%;
  max-width: calc(100% - 50px);
  max-height: calc(100vh - 50px);
  .calendar-wrapper {
    max-width: 650px;
    .control-bar {
      display: flex;
      justify-content: center;
      margin-bottom: 15px
    }
    .title-bar {
      padding: 5px 0px;
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(79, 79, 129);
      margin-bottom: 5px;
      border-radius: 5px;
      .day-label {
        width: calc(100% / 7);
        display: flex;
        justify-content: center;
      }
    }
    .calendar-body {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid rgba(0,0,0,.35);
    }
  }
}