.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  padding: 35px 0; 
  padding-right: 0;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-left: 15px;
  .list-area {
    overflow: auto;
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    padding: 15px;
    height: 100%;
    &.flex {display: flex;}
    .timeline-event-container {
      cursor: pointer;
      display: flex;
      flex:1;
      max-height: 75px;
      .bullet-container {
        width: 35px;
        border-right: 3px solid rgba(0,0,0,0.35);
        display: flex;
        justify-content: flex-end;
        .bullet {
          height: 10px;
          margin-top: 20px;
          margin-right: -7px;
          width: 10px;
          border-radius: 50%;
          background: black;
        }
      }
      .event-details-container {
        padding: 15px 0;
        transition: ease-in-out all .3s;
        padding-left: 35px;
        &:hover {
          transition: ease-in-out all .3s;
          transform: scale(1.2);
        }
      }
      .delete-button {
        transition: ease-in-out all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .edit-view-form {
      display: flex;
      justify-content: space-between;
      flex:1;
    }
  }
  .button-area {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

.edit-view-form {
  display: flex;
  flex-direction: column
}